@charset "UTF-8"

  
html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style : none
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.site-title a {
  display: block;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 10px;
  padding: 0.4rem;
  text-align: center;
}

/* header */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#header ul {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
#header li {
  margin-left: 30px;
}
#header li a {
  color: #ff5526;
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  padding: 5px 0;
}
#header li a:hover {
  opacity: 0.7;
}

/* main */

#mainvisual {
  margin-bottom: 80px;
}
#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

/* Profile */

#profile .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
#profile .text {
  text-align: left;
}

/*-------------------------------------------
現状と未来
-------------------------------------------*/
.cards {
  display: flex;           /* 横並び */
  gap: 20px;               /* カード間の余白 */
  justify-content: center; /* 中央揃え */
  flex-wrap: wrap;
}

.cards li {
  list-style: none;
  width: 250px;            /* 固定幅 */
}

.cards img {
  width: 100%;
  height: 200px;           /* 固定高さ */
  object-fit: cover;       /* 枠に合わせて切り取り */
  border-radius: 5px;     /* optional: 角丸 */
}

#now ul {
  display: flex;
  justify-content: space-between;
}
#now li {
  width: 32%;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {

  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  /*-------------------------------------------
  About
  -------------------------------------------*/
  #profile .content {
    flex-direction: column;
  }
  #profile img {
    margin-right: 0;
  }

  /*-------------------------------------------
  now
  -------------------------------------------*/
  #now ul {
    flex-direction: column;
  }
  #now li {
    width: 100%;
    margin-bottom: 30px;
  }
}
